header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: stretch;
	margin-top: 35px;



}

.logo h1{
font-style: normal;
font-size: 20px;
line-height: 30px;
color: #24DC9F;
text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
}

	
.logo:hover{
	filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 1));
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.nav{
	position: relative;
	z-index: 4;

}
.nav ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2.4rem;
	list-style: none;
	z-index: 4;

}

.nav a{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #021206;
	opacity: 0.5;
}
.nav a:hover{
	text-decoration: underline;
	cursor: pointer;

	
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

 }


.buttonls{
	display: flex;
	flex-direction: row;
	gap: 2rem;
	z-index: 7;
}

.login{
	color: #021206;
}

.sign{

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 15px 30px;
	gap: 10px;
	background: #F44545;
	border-radius: 6px;
	color: #fff;

}

.sign:hover{
	transition: all 0.4s ease;
	transform: translateY(-2px);
}
.login:hover{
	transition: all 0.4s ease;
	transform: translateY(-2px);
}